## .gitignore

# ignore vim artifacts
.*.sw?
*~

#ignore vagrant artifacts
.vagrant/

# ignore packer artifacts
packer_cache/
build/
ovf/
out/

# ignore ISOs
iso
iso/
*.iso

# ignore box files
*.box

# ignore debian package files
*.deb
*.InRelease
*.Release
